<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<suite name="AndroidSuite">
  <test  name="AllTests">
    <classes>
      <class name="com.powderhook.appium.cases.login.VerifyValidLogIn"/>
      <class name="com.powderhook.appium.cases.login.VerifyValidLogout"/>
      <class name="com.powderhook.appium.cases.login.VerifyInvalidLogin"/>
      
    </classes>
  </test> 
  
  
</suite>
